<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>AngularJS Intro</title>

		<meta name="description" content="AngularJS training part 5">
		<meta name="author" content="Marcos Santanna">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = 'css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<section>
						<h1>
							What is AngularJS?
						</h1>
					</section>
					<section>
						<p>
							AngularJS, commonly referred to as Angular, is an open-source web application framework, maintained by Google and the community, that assists with creating single-page applications, which consist of one HTML page with CSS and JavaScript on the client side. Its goal is to simplify both development and testing of web applications by providing client-side model–view–controller (MVC) capability as well as providing structure for the entire development process, from design through testing.
						</p>
						<a href="http://en.wikipedia.org/wiki/AngularJS">Wikipedia on AngularJS</a>
					</section>
				</section>
				<section>
					<section>
						<h1>
							Diagram Flows
						</h1>
					</section>
					<section>
						<img src="img/angularFlow1.png" alt="Flow Diagram" />
						<div>
							<a href="http://weblogs.asp.net/dwahlin/video-tutorial-angularjs-fundamentals-in-60-ish-minutes" target="_blank">
								Source
							</a>		
						</div>
					</section>
					<section>
						<img src="img/angularFlow2.jpg" alt="Flow Diagram" />
					</section>
				</section>
				<section>
					<section>
						<h1>
							Features
						</h1>
					</section>
					<section>
						<h2>
							Directives
						</h2>
						<p>
							Extension of html functionality
						</p>
<pre><code>
&lt;div id="blankResults" ng-if="!search.loading && !search.results"&gt;
</code></pre>
					</section>
					<section>
						<h2>
							Two-way data binding
						</h2>
						<p>
							Display object values directly into the page
						</p>
<pre><code>
&lt;div ng-repeat="results in search.results"&gt;
    {{ results.marketname }}
&lt;/div&gt;
</code></pre>
					</section>
					<section>
						<h2>
							URL routing
						</h2>
<pre><code>						
app.config(['$routeProvider', function($routeProvider) {
	$routeProvider.when('/', {
		templateUrl: 'views/farmersSearch.html',
    	controller: 'search'
	}).otherwise({redirectTo:'/'});
}]);
</code></pre>
					</section>
					<section>
						<h2>
							Highly organized code
						</h2>
						<img src="img/codeSnip.png" alt="Organized Code image" />
					</section>
				</section>
				<section>
					<section>
						<h1>
							I love jQuery, can I use it with AngularJS?
						</h1>
						<p>
							Yes and No!!! (What!?)
						</p>
					</section>
					<section>
						<p>
							AngularJS uses jqLite, which has some of the very basic aspects of jQuery, besides only having the basic features, it also does not use the query engine for elements.
						</p>
						<a href="https://docs.angularjs.org/api/ng/function/angular.element" target="_blank">Click for details</a>
					</section>
					<section>
						<p>
							In addition, if you do include jQuery into your page, angularJS will start using the regular jquery instead, but for learning purposes, I recommend not using jQuery at all.
						</p>
					</section>
				</section>
				<section>
					<section>
						<h1>
							Time to go hands on!
						</h1>
					</section>
				</section>
			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
