<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>AngularJS Training</title>

		<meta name="description" content="AngularJS training part 2">
		<meta name="author" content="Marcos Santanna">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = 'css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<section>
						<h1>
							AngularJS part 2, Factories
						</h1>
					</section>
					<section>
						<h2>
							Please, consider folder 2 your root
						</h2>
					</section>
				</section>
				<section>
					<section>
						<h2>
							js/main.js
						</h2>
					</section>
					<section>
						<h3>
							Create your first factory
						</h3>
						<pre><code>
app.factory('farmersMarketFactory', function($http) {

    var factory = {};

    return factory;
});
						</code></pre>
						<p>
							Add the code to the bottom of the file
						</p>
					</section>
					<section>
						<h3>
							Tie the controller with the factory
						</h3>
						<pre><code>
app.controller('search', function($scope, farmersMarketFactory) {
						</code></pre>
						<p>
							Add farmersMarketFactory to the search controller
						</p>
					</section>
					<section>
						<h3>
							Making the factory functional
						</h3>
						<pre><code>
factory.getMarketDataByZip = function(zip) {
    var promise = $http.get('http://search.ams.usda.gov/farmersmarkets/v1/data.svc/zipSearch?zip=' + zip).then(function (results) {
        return results.data;
    });
    return promise;
};

factory.getMarketDataByCoords = function(coords) {
    var promise = $http.get('http://search.ams.usda.gov/farmersmarkets/v1/data.svc/locSearch?lat=' + coords[0] + '&lng=' + coords[1]).then(function (results) {
        return results.data;
    });
    return promise;
};
					</code></pre>
						<p>
							Add the functions above to the factory, right bellow the factory objection definition
						</p>
					</section>
					<section>
						<h3>
							Using the factories
						</h3>
						<pre><code>
var trackZip = function() {
    if ($scope.search.zip) {
        if ($scope.search.zip.length === 5) {
            $scope.search.loading = true;
            farmersMarketFactory.getMarketDataByZip($scope.search.zip).then(function(d){
                $scope.search.results = d.results;
                $scope.search.loading = false;
                console.log($scope.search);
            });
        }
    }
};
						</code></pre>
						<p>
							Add the factory function call to trackZip function in the search controller
						</p>
					</section>
					<section>
						<h3>
							Using the factories
						</h3>
						<pre><code>
var trackCoords = function() {
    if ($scope.search.coords) {
        $scope.search.loading = true;
        farmersMarketFactory.getMarketDataByCoords($scope.search.coords).then(function(d){
            $scope.search.results = d.results;
            $scope.search.loading = false;
            console.log($scope.search);
        });
    }
};
						</code></pre>
						<p>
							Add the factory function call to trackCoords function in the search controller
						</p>
					</section>
					<section>
						<h2>
							index.html
						</h2>
					</section>
					<section>
						<h3>
							Preparing to display some relevant information
						</h3>
						<pre><code>
&lt;div id="blankResults" ng-if="!search.loading && !search.results"&gt;
    Please, enter your 5 digit zip code or click on "Get my position"
&lt;/div&gt;
						</code></pre>
						<p>
							add the search.results to the ng-if on black results
						</p>
					</section>
					<section>
						<h3>
							Now finally displkaying some relevant information
						</h3>
						<pre><code>
&lt;div id="searchResults" ng-if="search.results && !search.loading"&gt;
    &lt;a href="" ng-repeat="results in search.results" ng-if="results.id !== 'Error'" class="result"&gt;
        {{ results.marketname }}
    &lt;/a&gt;
    &lt;div ng-if="search.results[0].id === 'Error'" class="result"&gt;
        &lt;span&gt;{{ search.results[0].id }} | &lt;/span&gt;{{ search.results[0].marketname }}
    &lt;/a&gt;
&lt;/div&gt;
						</code></pre>
						<p>
							Add the code above right bellow the "loadingSearch" div
						</p>
					</section>
					<section>
						<h2>
							That was a long one! Try it out!
						</h2>
					</section>
				</section>
				<section>
					<section>
						<h2>
							js/main.js
						</h2>
					</section>
					<section>
						<h3>
							Let's make all this data more friendly!
						</h3>
						<pre><code>
var processData = function(dataArr) {
    var str1, str2, str3;
    if (dataArr.results[0].id !== "Error") {
        for (var i=0; i &lt; dataArr.results.length; i++) {
            str1 = dataArr.results[i].marketname;
            str2 = str1.substr(0,str1.indexOf(' ')) + " miles ",
            str3 = str1.substr(str1.indexOf(' ')+1);
            dataArr.results[i].marketname = str3;
            dataArr.results[i].marketnameEncoded = encodeURIComponent(str3);
            dataArr.results[i].distance = str2;
        }
    }

    return dataArr;
}
						</code></pre>
						<p>
							add this function to the factory, right bellow var factory = {};
						</p>
					</section>
					<section>
						<h3>
							Now we need to make sure we tie this together in our factories methods
						</h3>
						<pre><code>
return processData(results.data);
						</code></pre>
						<p>
							Instead of returning just results.data we will proccess that first, please replace it by the code above in the 2 factories methods
						</p>
					</section>
					<section>
						<h2>
							index.html
						</h2>
					</section>
					<section>
						<h3>
							Let's use some of the things we created by manipulating the response a bit
						</h3>
						<pre><code>
{{ results.marketname }}&lt;span&gt; | {{ results.distance }}&lt;/span&gt;
						</code></pre>
						<p>
							Replace {{ results.marketname }} for the code above
					</section>
					<section>
						<h2>
							Test it all out, and advance to the <a href="workshop3.html">third part</a>.
						</h2>
					</section>
				</section>
			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
