<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>AngularJS Training</title>

		<meta name="description" content="AngularJS training part 1">
		<meta name="author" content="Marcos Santanna">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = 'css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<section>
						<h1>
							AngularJS part 1, starting your app
						</h1>
					</section>
					<section>
						<h2>
							Please, consider folder 1 your root
						</h2>
					</section>
				</section>

				<section>
					<section>
						<h2>
							index.html
						</h2>
					</section>
					<section>
						<h3>
							Add AngularJS to your page
						</h3>
						<pre><code>
&lt;script src="js/vendor/angular.min.js"&gt;&lt;/script&gt;
						</code></pre>
						<p>
							Add the code above right before the main.js script tag at the bottom of the file
						</p>
					</section>
					<section>
						<h2>
							js/main.js
						</h2>
					</section>
					<section>
						<h3>
							Define your AngularJS app
						</h3>
						<pre><code>
var app = angular.module('farmersMarket', []);
						</code></pre>
						<p>
							Add the code to js/main.js
						</p>
					</section>
					<section>
						<h3>
							Define your AngularJS app
						</h3>
						<pre><code>
app.controller('search', function($scope) {

});
						</code></pre>
						<p>
							Add the code bellow the app definition
						</p>
					</section>
					<section>
						<h2>
							index.html
						</h2>
					</section>
					<section>
						<h3>
							Hook the app at index.html
						</h3>
						<pre><code>
&lt;body ng-app="farmersMarket"&gt;
						</code></pre>
						<p>
							Add the app to the body tag
						</p>
					</section>
					<section>
						<h3>
							Hook the controller up at index.html
						</h3>
						<pre><code>
&lt;main ng-controller="search"&gt;
						</code></pre>
						<p>
							Add the controller to your main tag
						</p>
					</section>
					<section>
						<h2>
							Look at your page...
						</h2>
						<p>
							No changes, right?
						</p>
					</section>
				</section>

				<section>
					<section>
						<h2>
							js/main.js
						</h2>
					</section>
					<section>
						<h3>
							Adding things to the controller
						</h3>
						<pre><code>
app.controller('search', function($scope) {
    $scope.search = {
    	zip : null,
    	coords : null,
    	loading : false,
    	results : null
    };
});
						</code></pre>
						<p>
							Lets add somethings to the scope of the search controller
						</p>
					</section>
					<section>
						<h3>
							And also a function
						</h3>
						<pre><code>
$scope.getCoords = function() {
    if (Modernizr.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
            $scope.search.coords = [
                position.coords.latitude,
                position.coords.longitude
            ];
            $scope.$digest();
        });
    }
};
						</code></pre>
						<p>
							Add this as the last thing inside the search controller 
						</p>
					</section>
					<section>
						<h2>
							index.html
						</h2>
					</section>
					<section>
						<h3>
							Let's do some data binding
						</h3>
						<pre><code>
&lt;input type="text" pattern="\d*" placeholder="Zip Code" ng-model="search.zip" /&gt;
						</code></pre>
						<p>
							Add the ng-model to the input for zip code
						</p>
					</section>
					<section>
						<h3>
							A bit of a click event
						</h3>
						<pre><code>
&lt;a href="" ng-click="getCoords();"&gt;Get my position&lt;/a&gt;
						</code></pre>
						<p>
							Add the ng-click to the button to get coordinates
						</p>
					</section>
					<section>
						<h3>
							Now some templating {{ }}
						</h3>
						<pre><code>
&lt;div id="blankResults"&gt;
    Please, enter your 5 digit zip code or click on "Get my position" 
    Zip: {{ search.zip }} 
    Coords: {{ search.coords[0] }}, {{ search.coords[1] }}
&lt;/div&gt;
						</code></pre>
						<p>
							Add some templating to access scope values
						</p>
					</section>
					<section>
						<h2>
							Test it out!
						</h2>
					</section>
				</section>
				<section>
					<section>
						<h2>
							js/main.js
						</h2>
					</section>
					<section>
						<h3>
							Let it be watchers
						</h3>
						<pre><code>
var init = function() {
    $scope.$watch('search.zip', function() {
        console.log('zip change');
    });
    $scope.$watch('search.coords', function() {
        console.log('coords change');
    });
};

init();
						</code></pre>
						<p>
							Add the init function inside the search controller, should be the last thing
						</p>
					</section>
					<section>
						<h2>
							index.html
						</h2>
					</section>
					<section>
						<h3>
							More templating logic
						</h3>
						<pre><code>
&lt;div id="results"&gt;
    &lt;div id="blankResults" ng-if="!search.loading"&gt;
        Please, enter your 5 digit zip code or click on "Get my position"
    &lt;/div&gt;
    &lt;div id="loadingSearch" ng-if="search.loading"&gt;
        &lt;p class="loading"&gt;
        &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;
						</code></pre>
						<p>
							Change the contents of the results div to look like the code above
						</p>
					</section>
					<section>
						<h2>
							js/main.js again
						</h2>
					</section>
					<section>
						<h3>
							Some internal functions only to be used within the controller
						</h3>
						<pre><code>
var trackZip = function() {
    if ($scope.search.zip) {
        if ($scope.search.zip.length === 5) {
            $scope.search.loading = true;
            console.log('ajax here');
        }
    }
};

var trackCoords = function() {
    if ($scope.search.coords) {
        $scope.search.loading = true;
        console.log('ajax here');
    }
};
						</code></pre>
						<p>
							Add those after the $scope.getCoords function, inside of search controller
						</p>
					</section>
					<section>
						<h3>
							And finally some functionality fot the watchers
						</h3>
						<pre><code>
$scope.$watch('search.zip', function() {
    trackZip();
});
$scope.$watch('search.coords', function() {
    trackCoords();
});
						</code></pre>
						<p>
							Replace the console.log for the function calls that we defined in the last step
						</p>
					</section>
					<section>
						<h2>
							Take a look at your page and advance to the <a href="workshop2.html">second part</a>.
						</h2>
					</section>
				</section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
